<div class="row ms-2 me-2 my-5">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        <div class="mb-0">Customer List</div>
      </div>
      <div class="card-body">
        <app-get-customer></app-get-customer>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success text-white text-center">
        <div class="mb-0">New Customer</div>
      </div>
      <div class="card-body">
        <div class="container mt-5">
          <form>
            <div class="row mb-3">
              <!-- First Name -->
              <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="FirstName"
                  required
                />
              </div>
              <!-- Last Name -->
              <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="LastName"
                  required
                />
              </div>
            </div>

            <!-- Phone Number -->
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">Phone Number</label>
              <input
                type="text"
                class="form-control"
                id="phoneNumber"
                name="PhoneNumber"
                required
              />
            </div>

            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="Email"
              />
            </div>

            <!-- Address -->
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea
                type="text"
                class="form-control"
                id="address"
                name="Address"
              ></textarea>
            </div>

            <div class="row mb-3">
              <!-- City -->
              <div class="col-md-6">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="City" />
              </div>

              <!-- Postal Code -->
              <div class="col-md-6">
                <label for="postalCode" class="form-label">Postal Code</label>
                <input
                  type="number"
                  class="form-control"
                  id="postalCode"
                  name="PostalCode"
                />
              </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
              <div class="col-6">
                <button type="submit" class="btn btn-primary w-100">Add</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-warning w-100">
                  Back
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
