<div class="row ms-2 me-2 my-5">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        <div class="mb-0">Customer List</div>
      </div>
      <div class="card-body">
        <div class="row">
            @if(isLoader){
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status"></div>
            </div>
            }@else {
            <div class="col-12 d-flex">
              <div class="table-container">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <!-- <th>ID</th> -->
                      <th>Full Name</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Phone Number</th>
                      <th>Email</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>Postal Code</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of customerList">
                      <!-- <td>{{ item.id }}</td> -->
                      <td>{{ item.fullName }}</td>
                      <td>{{ item.firstName }}</td>
                      <td>{{ item.lastName }}</td>
                      <td>{{ item.phoneNumber }}</td>
                      <td>{{ item.email }}</td>
                      <td>{{ item.address }}</td>
                      <td>{{ item.city }}</td>
                      <td>{{ item.postalCode }}</td>
                      <td>
                        <button class="btn btn-warning btn-sm" (click)="onEdit(item)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="onDelete(item.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                        </svg>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            }
          </div>
          
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success text-white text-center">
        <div class="mb-0">New Customer</div>
      </div>
      <div class="card-body">
        <div class="container mt-2">
          <form #form="ngForm">
            <div class="row mb-3">
              <!-- First Name -->
              <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  [(ngModel)]="customerObj.firstName"
                  #firstName="ngModel"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  required
                />
                @if(firstName.touched){
                  <div class="text-danger">
                    @if(firstName?.errors?.['required']){
                    <span> First Name is required</span>
                    }
                  </div>
              }
              </div>

              <!-- Last Name -->
              <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  [(ngModel)]="customerObj.lastName"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  required
                   #lastName="ngModel"
                />
                @if(lastName.touched){
                  <div class="text-danger">
                    @if(lastName?.errors?.['required']){
                    <span> Last Name is required</span>
                    }
                  </div>
              }
              </div>
            </div>

            <!-- Phone Number -->
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">Phone Number</label>
              <input
                type="text"
                [(ngModel)]="customerObj.phoneNumber"
                class="form-control"
                id="phoneNumber"
                name="phoneNumber"
                required
                pattern="^\d{10}$"
                #phoneNumber="ngModel"
                />
                @if(phoneNumber.touched){
                  <div class="text-danger">
                    @if(phoneNumber?.errors?.['required']){
                    <span> Phone Number is required</span>
                    }@else if (phoneNumber?.errors?.['pattern']) {
                      <span>Phone Number must be exactly 10 digits</span>
                    }
                  </div>
              }
            </div>

            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                [(ngModel)]="customerObj.email"
                class="form-control"
                id="email"
                name="email"
                required
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                #email="ngModel"
                />
                
                @if(email.touched){
                  <div class="text-danger">
                    @if(email?.errors?.['required']){
                    <span> Email is required</span>
                  }@else if (email?.errors?.['pattern']) {
                    <span>Enter valid email address</span>
                  }
                  </div>
              }
            </div>

            <!-- Address -->
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea
                type="text"
                [(ngModel)]="customerObj.address"
                class="form-control"
                id="address"
                name="address"
              ></textarea>
            </div>

            <div class="row mb-3">
              <!-- City -->
              <div class="col-md-6">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" [(ngModel)]="customerObj.city" id="city" name="city" />
              </div>

              <!-- Postal Code -->
              <div class="col-md-6">
                <label for="postalCode" class="form-label">Postal Code</label>
                <input
                  type="number"
                  [(ngModel)]="customerObj.postalCode"
                  class="form-control"
                  id="postalCode"
                  name="postalCode"
                pattern="^\d{5}$"
                #postalCode="ngModel"
                />
                @if(postalCode.touched){
                  <div class="text-danger">
                    @if (postalCode?.errors?.['pattern']) {
                      <span>Digits Only</span>
                    }
                  </div>
              }
              </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
              <div class="col-6">
                <button type="submit" class="btn btn-primary w-100" [disabled]="!form.valid" (click)="onSaveClient()">{{customerObj.id != 0 ? 'Update Customer':'Save Customer'}}</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-warning w-100">
                  Back
                </button>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
